<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The beginner’s guide to understanding multilingual SEO</a></h1>
        </div>

        <div>
            <p><b>published:</b> 07.10.2017, 18:00</p>
            <h2><a href="">What is multilingual SEO?</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p><b>published:</b> 07.10.2017, 18:01</p>
            <h2><a href="">Why do you need it?</a></h2>
            <p>The next question you may be asking, “Why on earth would I optimize my content for a variety of languages, especially as English is the global language?”</p>
            <p>The internet has opened up the global marketplace. The majority of internet users browse in their own language and consider it more important than price. Also, the majority of browsers aren’t English. So, by optimizing your site for many languages you’re able to access new markets. I don’t have to tell you what impact this could have on sales.</p>
        	<p>Whilst the principle is easy to understand, how you go about crafting a multilingual SEO strategy is more complex. We aim to provide you with a basic overview to get you started.</p>
        </div>
        <div><p>Material from <a href="https://blog.gengo.com/beginners-guide-multilingual-seo/?utm_source=newsletter&utm_medium=email&utm_campaign=sept2017&utm_campaign=website&utm_source=sendgrid.com&utm_medium=email">Gengo blog</a></p>
        </div>
    </body>
</html>